.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10px 1fr 1fr 1fr 1fr 1fr 80px;
    grid-template-areas:
        "Header Header Header"
        "peças vazio vazio"
        "pc vazio vazio"
        "note vazio vazio"
        "cell vazio vazio"
        "tblt vazio vazio"
        "footer footer footer";
    gap: 10px;
    height: 100vh;
    color: aquamarine;
}
body {
    background-color: #DEE8FC;
}
h1 {
    color: #12A8FF;
    font-family: "Share Tech Mono", monospace;
    justify-self: center;
}
